@import url('main.css');

body {
    background: url('../images/banner4.jpeg') no-repeat center/cover;
}

.cover {
    position: absolute;
    display: inline-block;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 65%;
}

.cover h1 {
    color: #fff;
    font-size: 2.1rem;
}

.cover p {
    color:#fff;
    font-size: 1rem;
    padding-bottom: 20px;
}

.form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(10,10,10,0.1);
    color: #fff;
    border-radius: 4px;
    width: 70%;
}

input {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    background:transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgb(67, 67, 192); /* a changer */
    
}

input::-moz-placeholder, input::placeholder, input::-webkit-input-placeholder {
    color: #fff !important;
}


#msg-li {
    margin-top: 40px;
    height: 60px;
}




footer {
    position: absolute;
    width: 100%; 
    bottom: 0;
}
