@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
    box-sizing: border-box;
}

html {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background: #252529;
}

img {
    width: 100%;
}

/* section */

.section {
    padding: 2rem;
    color:white;
}

.section-head {
    font-size: 4rem;
  
}
/* NavBar container (conta) */
nav {
    padding: 8px;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo a {
    color: #c3c3c3;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul {
     float: right;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul li:not(:first-child) {
    margin-left: 48px;
}

nav ul li:last-child {
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size:14px;
    letter-spacing: 1.2px;
    font-weight: 600; 
}

/*  surlignage en hover */

hr {
    height: .10rem;
    width: 13%;
    margin: 4px;
    background: #fff;
    border: none;
    transition: .3s ease-in-out;
  }

.nav ul li a:hover {
    transition: .15s;
  }

  .two:hover ~ hr {
    margin-left: 25%;
    width: 20%;
  }
  
  .three:hover ~ hr {
    margin-left: 55.8%;
    width: 11% ;
  }
  
  .four:hover ~ hr {
    margin-left: 77%;
    width: 22%;
  }


@media screen and (max-width: 864px) {
    .log {
        padding: 0;
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(196, 126, 206, 0.9);
        transition: all 0.2s ease;
    }

    .nav-wrapper ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    .nav-wrapper ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        line-height: 2.5rem;
    }

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

    .nav-wrapper ul li a {
        padding: 10px 24 px;
        opacity: 0;
        color: hsl(197, 94%, 75%);
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
    }

    .navbtn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .navbtn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        border-radius: 2px;
        margin-left: 14px;
    }

    .navbtn i:nth-child(1) {
        margin-top: 16px;
    }

    .navbtn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .navbtn i:nth-child(3) {
        margin-top: 4px;
    }
    hr {
        display: inline;
    }
}

#nav:checked + .navbtn {
    transform: rotate(45deg);
}

#nav:checked + .navbtn i {
    background: #000;
    transition: transform 0.2s ease;

}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

/* le body */ 

.banner {
    color: white;
    margin: 0;
    padding: 0;
    background: url('../images/banner.jpeg') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

.banner .conta {
    margin-top: 25vh;
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.banner h2 {
    font-size: 2rem;
}

.conta {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

.leader {
    font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
    .hide-sm {
        display: none;
    }

    .banner {
        height: 50vh;
    }

    .banner .conta {
        margin-top: 11vh;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .banner h2 {
        font-size: 1.5rem;
    }
}

/* bouton  */

